root = true

[*.fs]
sharp_max_line_length = 150
fsharp_multiline_infix_or_pipeline_at_start_of_line = true
tab_width = 2

[*.md]
max_line_length = 140
word_wrap = true
indent_style = space
indent_size = 2
